.single__course__item {
  padding: 15px;
  background-color: #1671faec;
  border-radius: 10px;
}

.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.enroll a {
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9rem;
  color: #dafbf5;
  background-color: #2058FF;
  padding: 2px 10px;
  border-radius: 5px;
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #fbfbfb;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  line-height: 2rem;
  color: white;
}

.course__top__left h2 {
  font-weight: 600;
}
